<%= stylesheet_link_tag 'homepage' %>
<%= javascript_include_tag 'homepage' %>

<div id="home-page" class='page' data-role='page' data-position='fixed'>
  <div class='header' data-role='header'>
    <h3>Welcome to Nii's Website</h3>
  </div>

  <div class='content home-content' data-role='content'>
      <div id="slide-panel" class="ui-widget-content ui-corner-all">
        <div class='header' data-role='header'>
          <h3>Header</h3>
        </div>

        <h5 align='center'>Slide panel content goes here</h5>
        <a id="trigger2" href="#"><h4 align='center'>click here to HIDE slide panel</h4></a>
      </div>

      <div>
        <h1 align='center'>Homepage is in the works...</h1>
        <a id="trigger1" href="#"><h4 align='center'>click here to SHOW slide panel</h4></a>
      </div>
  </div>

  <div class='footer' data-role='footer' data-position='fixed'>
    <h3>"Anyone can be cynical, dare to be an optimist!"</h3>
  </div>
</div>


