<%= stylesheet_link_tag 'homepage' %>
<%= javascript_include_tag 'homepage' %>
<% @title="Nii Ashikwei Tetteh's Homepage" %>

<div id="home-page" class='page' data-role='page' data-position='fixed'>
  <div class='header' data-role='header'>
    <h3>Welcome to Nii's Website</h3>
  </div>

  <div class='content home-content' data-role='content'>
      <div id="slide-panel" class="ui-widget-content ui-corner-all">
        <div class='header' data-role='header'>
          <h3>Header</h3>
        </div>

        <h5 align='center'>Slide panel content goes here</h5>
        <a id="trigger2" href="#"><h4 align='center'>click here to HIDE slide panel</h4></a>
      </div>

      <span>
        <h1 align='center'>My Content</h1>
        <style>
            #sortable { list-style-type: none; margin: 20; padding: 20; width: 100%; height: 100% }
            #sortable li { margin: 20px 20px 20px 20px; padding: 20px; float: left; width: 175px; height: 175px; font-size: 1em; text-align: center; }
        </style>
        <script>
            $(function() {
                $( "#sortable" ).sortable();
                $( "#sortable" ).disableSelection();
            });
        </script>

        <div>
          <ul id="sortable">
            <li class="ui-state-default"><a href="https://soundcloud.com/nii-ashikwei-tetteh/tracks">My Sound Cloud</a></li>
            <li class="ui-state-default"><a href="http://www.youtube.com/watch?v=IBUAkvO74lM&list=PLGHx1tuHYs08UwONFVu6EAvdxi4GEMIf2">My Dance Videos</a></li>
            <li class="ui-state-default"><a href="http://www.youtube.com/watch?v=bhOVaJawBEo&list=PLGHx1tuHYs0_LywhtGVYW_vVVlN1RwQ9X">My Guitar Videos</a></li>
            <li class="ui-state-default">My Apps</li>
            <li class="ui-state-default">5</li>
          </ul>
        </div>
        <!--<a id="trigger1" href="#"><h4 align='center'>click here to SHOW slide panel</h4></a>-->
      </span>
  </div>

  <div class='footer' data-role='footer' data-position='fixed'>
    <h3>"Anyone can be cynical, dare to be an optimist!"</h3>
  </div>
</div>


