<%= stylesheet_link_tag 'splash' %>

<div class="splash-content">
    <div class="splash-image"></div>
    <div class="apps-section">
        <h3>Below are some of the apps I'm working on:</h3>
        <a href="https://tomorrow-server.herokuapp.com/"><h3>Tomorrow</h3></a>
    </div>
</div>
