<%= stylesheet_link_tag 'splash' %>

  <div class="image-container">
    <div class="splash-image"></div>
  </div>
  <div class="content">
    <div class="container">
        <div class="section-header"><h3>About Me</h3></div>
        <div class="section-content">
            My Name is Nii Ashikwei Tetteh. I graduated with a B.Sc. in Computer Science from Drexel University with tracks in Human Computer Interactions and Game Development and Design.
            I am a passionate technologist with an interest in Web Technologies, Mobile Technologies, A.I., Robotics, Augmented Reality and Virtual Reality.
            You can find information on my professional background at <br><br>
            <a href="https://www.linkedin.com/pub/nii-ashikwei-tetteh/5/65/870">
                <img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_myprofile_160x33.png" style="vertical-align:middle" width="160" height="33" border="0" alt="View Nii Ashikwei Tetteh's profile on LinkedIn">
            </a>
        </div>
    </div>
  </div>
