<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="Content-Style-Type" content="text/css">
  <title>Nii's Website</title>
</head>

<body>
    <div class="splash-content">
        <div class="centered-content animation-div">
            <h1 class='splash-title'>Welcome to Nii's Website</h1>
            <div><a class="button rotating" href="#" type="button">Enter Here!</a></div>
        </div>
    </div>
</body>

</html>
