<%= stylesheet_link_tag 'splash' %>

  <div class="splash-image"></div>
  <div class="content">
    <div class="container">
        <div class="section-header"><h3>About Me</h3></div>
        <div class="section-content">
            My Name is Nii Ashikwei Tetteh. I graduated with a B.Sc. in Computer Science from Drexel University with tracks in Human Computer Interactions and Game Development and Design.
            I am a passionate technologist with an interest in Web Technologies, Mobile Technologies, A.I., Robotics, Augmented Reality and Virtual Reality.
            You can find information on my professional background at <a href="https://www.linkedin.com/in/ashikwei">My LinkedIn Profile</a>.
        </div>
    </div>
  </div>
