<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="Content-Style-Type" content="text/css">
  <title>Nii's Website</title>
  <style type="text/css">
    body{
        width:100%;
        height:100%;
        margin: 0px;
        background-image:url(<%= asset_path "beach_guitar.jpg" %>);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .button{
        border-top: 1px solid #96d1f8;
        background: #65a9d7;
        background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
        background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
        background: -moz-linear-gradient(top, #3e779d, #65a9d7);
        background: -ms-linear-gradient(top, #3e779d, #65a9d7);
        background: -o-linear-gradient(top, #3e779d, #65a9d7);
        padding: 8px 16px;
        -webkit-border-radius: 18px;
        -moz-border-radius: 18px;
        border-radius: 18px;
        -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
        -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
        box-shadow: rgba(0,0,0,1) 0 1px 0;
        text-shadow: rgba(0,0,0,.4) 0 1px 0;
        color: white;
        font-size: 17px;
        font-family: Georgia, serif;
        text-decoration: none;
        vertical-align: middle;
        text-align: center;
    }
    .button:hover {
        border-top-color: #28597a;
        background: #28597a;
        color: #ccc;
    }
    .button:active {
        border-top-color: #1b435e;
        background: #1b435e;
    }
    .splash-title{
        font-size: 2em;
    }
    .splash-content{
        margin-right: 10%;
        width:400px;
        float:right;
    }
    .centered-content{
        text-align: center;
    }
  </style>
</head>

<body>
    <div class="splash-content">
        <div class="centered-content">
            <h1 class='splash-title'>Welcome to Nii's Website</h1>
            <div><a class="button" href="#" type="button">Enter Here!</a></div>
        </div>
    </div>
</body>

</html>
