<%= stylesheet_link_tag 'splash' %>

<div class='splash-page'>
  <div class="splash-content">
    <div class="centered-content animation-div">
      <h1 class='splash-title'>Welcome to Nii's Website</h1>
      <div><%= link_to("Enter Here!", home_page_url, {:class => 'button rotating', :type => 'button'}) %></div>
    </div>
  </div>
</div>
