<%= stylesheet_link_tag 'splash' %>

<div class="splash-content">
    <div class="splash-image"></div>
    <div class="about-section">
        <h3 class="section-header">About Me</h3>
        <div class="background">My Name is Nii Ashikwei Tetteh. I graduated with a B.Sc. from Drexel University with tracks in Human Computer interactions and Game Development and Design.</div>
        <div class="interests"> I am a passionate technologist with an interest in Web Technologies, Mobile Technologies, A.I., Robotics, Augmented Reality and Virtual Reality. </div>
        <div class="professional">You can find information on my professional background at <a href="https://www.linkedin.com/in/ashikwei">My LinkedIn Profile</a>.</div>
    </div>
</div>
