<%= stylesheet_link_tag 'apps' %>

<div class="image-container">
    <div class="apps-image"></div>
</div>
<div class="content">
    <div class="container">
        <div class="section-header"><h3>Tetteh Ideaz</h3></div>
        <div class="section-content">
          Welcome to my apps page. Please find below, descriptions and links to some of the apps I've been working on.
          Feel free to share them with your friends and family. Any feedback or requests that are app related should be directed to "tetteh.ideaz@gmail.com".
          Stay tuned for more!
        </div>
        <div class="apps">
          <div class="app tomorrow">

          </div>
          <div class="app experience">

          </div>
        </div>
    </div>
</div>
