
#slide-panel{
    display:none;
    height:100%;
    width:40%;
    background-color: gray;
    box-shadow: 5px 5px 2px #272727;
    border:1px solid black;
    padding:5px;
    position:absolute;
    left:0px;
    top:0px;
    z-index:1;
}