
.splash-image{
    background-size: cover;
    display: table;
    position: relative;
    background: url(nii_chi_ball.jpg) no-repeat center center;
    height: 55%;
    width: 100%;
}

.content{
    height: 45%;
}

.section-header{
    font-size: 1.5em;
    padding-bottom: 20px;
    width: 100%;
    text-align: center;
    margin-right: 10px;
}

.section-content{
    text-align: center;
    width: 80%;
    padding-left: 10%

}

.container{
    padding : 1%;
    background-color: #f6f6f6;
    height: 100%;
}

