/*// Place all the styles related to the splash controller here.*/
/*// They will automatically be included in application.css.*/
/*// You can use Sass (SCSS) here: http://sass-lang.com/*/

body{
  background-image:url(beach_guitar.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.splash-content{
  margin-right: 10%;
  width:400px;
  float:right;
  font-family: Georgia, serif;
  color: white;
}

.centered-content{
  text-align: center;
}

.splash-title{
  font-size: 2em;
}

.button{
  border-top: 1px solid #96d1f8;
  background: #65a9d7;
  background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
  background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
  background: -moz-linear-gradient(top, #3e779d, #65a9d7);
  background: -ms-linear-gradient(top, #3e779d, #65a9d7);
  background: -o-linear-gradient(top, #3e779d, #65a9d7);
  padding: 8px 16px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  border-radius: 18px;
  -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
  -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
  box-shadow: rgba(0,0,0,1) 0 1px 0;
  text-shadow: rgba(0,0,0,.4) 0 1px 0;
  font-size: 17px;
  color: white;
  text-decoration: none;
  vertical-align: middle;
  text-align: center;
}

.button:hover {
  border-top-color: #28597a;
  background: #28597a;
  color: #ccc;
}

.button:active {
  border-top-color: #1b435e;
  background: #1b435e;
}

.animation-div
{
  position:relative;
  animation: clockwise-rectangle-rotation 5s;
  -moz-keyframes: clockwise-rectangle-rotation 5s;
  -o-keyframes: clockwise-rectangle-rotation 5s;
  -webkit-animation: clockwise-rectangle-rotation 5s;
}


@keyframes clockwise-rectangle-rotation {
  0%   {left:0px; top:0px;}
  25%  {left:100px; top:0px;}
  50%  {left:100px; top:100px;}
  75%  {left:0px; top:100px;}
  100% {left:0px; top:0px;}
}

@-moz-keyframes clockwise-rectangle-rotation {
  0%   {left:0px; top:0px;}
  25%  {left:100px; top:0px;}
  50%  {left:100px; top:100px;}
  75%  {left:0px; top:100px;}
  100% {left:0px; top:0px;}
}

@-o-keyframes clockwise-rectangle-rotation {
  0%   {left:0px; top:0px;}
  25%  {left:100px; top:0px;}
  50%  {left:100px; top:100px;}
  75%  {left:0px; top:100px;}
  100% {left:0px; top:0px;}
}

@-webkit-keyframes clockwise-rectangle-rotation {
  0%   {left:0px; top:0px;}
  25%  {left:100px; top:0px;}
  50%  {left:100px; top:100px;}
  75%  {left:0px; top:100px;}
  100% {left:0px; top:0px;}
}


