
.splash-content{
    height: 100%;
    margin:0;
    padding:0;
    border:0;
    outline:0;
}
.splash-image{
    background: url(nii_chi_ball.jpg) no-repeat;
    background-size: cover;
    display: table;
    position: relative;
    background-position: center center;
    height: 60%;
    width: 100%;
}

.about-section{
    padding: 20px;
    background-color: #f6f6f6;
    height: 40%;
}

.about-section div{
    padding : 10px;
}

.section-header{
    font-size: 1.5em;
    padding-bottom: 20px;
}



